/* Manage */

.manage-content {
  padding: 120px 0;
}

.manage-content h2 {
  text-align: center;

}

.reasons-row {
  display: flex;
  column-gap: 24px;

  margin-top: 52px;
}

.reasons-card {
  border: 1.5px #E1E4E8 solid;
  border-radius: 8px;

  padding: 36px 0;
  max-width: fit-content;
}

.reasons-card__description {
  padding: 0 20px 0 32px;
}

.reasons-card__description h3 {
  color: #1B1F23;
  font-family: Poppins;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;

  margin-top: 20px;
  max-width: 350px;
}

.reasons-card__description p {
  color: #444D56;
  font-family: Rubik;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  margin-top: 12px;
}

.reasons-card__description .btn-1 {
  margin-top: 24px;
}
/* Manage */